@import "font-face";
@import "variables";

.footer {
  margin-top: 100px;
  padding-top: 55px;
  background-color: $bg-footer;

  &-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-title {
    font-family: "ProximaNova Bold";
    display: flex;
    align-items: center;
    color: $bg-btn;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &-twitter {
    background-color: $white;

    &-header {
      display: flex;
      background-color: $secondary;
    }

    &-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 16px;
    }

    &-link {
      font-size: 22px;
    }

    &-text {
      font-size: 14px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding: 15px 30px;

      &-link {
        color: $secondary;
        margin-top: 3px;
      }

      &-date {
        margin-top: 6px;
      }
    }
  }

  &-links-wrapper {
    display: flex;
  }

  &-links-list,
  &-contacts {
    text-transform: uppercase;
  }

  &-navigation {
    margin-right: 150px;
  }

  &-links-item + &-links-item {
    margin-top: 8px;
  }

  &-contacts {
    display: flex;
    flex-direction: column;

    &-img {
      margin-right: 8px;
    }

    &-email {
      margin-top: 8px;
    }
  }

  &-logo {
    max-width: 75px;
    max-height: 86px;

    &-wrapper {
      text-align: right;
      margin: -54px 32px 32px 0;
    }
  }

  &-copyright {
    background-color: $bg-copyright;
    padding: 5px 0;
    text-align: center;

    &-text {
      font-family: "Raleway Medium";
      font-size: 10px;
    }

    &-img {
      width: 9px;
      height: 10px;
    }
  }

  @media screen and (max-width: 1120px) {
    &-navigation {
      margin-right: 50px;
    }
  }

  @media screen and (max-width: $tablet) {
    &-inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-links-wrapper {
      margin-top: 60px;
    }

    &-contacts {
      margin-top: 50px;

      &-title {
        display: flex;
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    &-links-list,
    &-contacts {
      font-size: 14px;
    }

    &-logo {
      max-width: 88px;
      max-height: 100px;

      &-wrapper {
        text-align: center;
        margin: 80px auto;
      }
    }

    &-copyright {
      padding: 38px 0;
      text-align: center;

      &-text {
        font-size: 8px;
      }

      &-img {
        width: 6px;
        height: 6px;
      }
    }
  }
}
