@import "variables";

.header {
  background-image: url(../images/bg-header.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: $white;
  height: 100vh;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
  }

  &-slider {
    margin-top: 130px;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-descr {
      margin-left: 85px;
    }

    &-text {
      max-width: 450px;
      font-size: 16px;
      margin-bottom: 45px;
    }

    &-btn {
      padding: 20px 40px;
    }

    &-img {
      margin-right: 130px;
      max-width: 150px;
      max-height: 125px;
    }
  }

  &-more {
    margin-top: 200px;
    text-align: center;

    &-text {
      margin-bottom: 20px;
    }

    &-link {
      &:hover {
        path {
          fill: $white;
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    &-slider {
      margin-top: 70px;
    }

    &-more {
      margin-top: 100px;
    }
  }

  @media screen and (max-width: $mobile) {
    &-top-logo {
      width: 39px;
      height: 50px;
    }
    &-slider {
      margin-top: 55px;

      &-content {
        flex-direction: column-reverse;
      }

      &-title {
        max-width: 215px;
      }

      &-text {
        margin-bottom: 28px;
      }

      &-img {
        margin-right: 0;
        max-width: 100px;
        max-height: 83px;
        margin-bottom: 65px;
      }
    }

    &-more {
      margin-top: 65px;
    }
  }
}

.menu {
  color: $white;

  &-list {
    display: flex;
    gap: 30px;
  }

  &-item {
    padding: 0 4px 4px 4px;
    transition: all 0.2s;

    &--active,
    &:hover {
      border-bottom: 3px solid $orange;
    }
  }

  &-btn {
    background: transparent;
    border: none;
    display: none;
  }

  @media screen and (max-width: $mobile) {
    &-list {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: block;
      text-align: center;
      background-color: #000;
      transform: translateY(-200%);
      transition: all 0.4s;
    }

    &-btn {
      display: block;
      margin-left: auto;
    }
  }
}

.swiper {
  max-width: 1245px;
  max-height: 250px;

  @media screen and (max-width: $mobile) {
    & {
      max-height: 425px;
    }
  }
}

.swiper-pagination {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $mobile) {
    & {
      display: none;
    }
  }
}

.swiper-pagination-bullet {
  background: url(../images/polygon.svg);
  width: 19px;
  height: 22px;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: url(../images/polygon-active.svg);
  width: 19px;
  height: 22px;
  border: none;
  opacity: none;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 4%;
  top: 40%;
}
